body {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
}

button {
    width: auto;
    height: auto;
    margin: 10px;
}

.selection {
    display: flex;
    margin-right: 20px;
}

.container {
    border: 1px solid black;
    width: 960px;
    height: 960px;
    display: flex;
    flex-direction: column;
}

.rowDiv {
    display: flex;
    flex: auto;
}

p {
    width: 75px;
}

.colDiv {
    flex: auto;
    border: .5px solid grey;
}


input {
    margin: 10px;
}